<a href="https://colab.research.google.com/github/booleanoid/Python-labo/blob/master/first.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import pandas as pd

i = 1
j = 5
print(i + j)

x = np.random.randint(1, 100, size=(10, 10))
df = pd.DataFrame(x)
df

6

    0   1   2   3   4   5   6   7   8   9
0  25  75  12  83  44  19  42  38  59  18
1  44  33  44  62  77  36  94  42  34  79
2  12  57   7  44  50  16  49  36  78  55
3  26  61  79  52  35  23  56  73  18  81
4  43  47  60  97  90  46  37  25  64  24
5  62  17  67  54  14  48  94  40  46  36
6  21  18  92  46  74  92   1  30  55  33
7  70  52  35  43  94  96   4  67  75  49
8  19  89  67  29  83  26  30  13  54  22
9  90  41  47   2  28  46   2  90  17  98

In [10]:
import keras

type(10)

int